<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/zajil_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ZajilUserApp"
        tools:targetApi="31">
        <activity
            android:name=".RegistrationForm"
            android:exported="false" />
        <activity
            android:name=".loginactivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.connectzajil.connectzajil"
            android:exported="false" />
        <activity
            android:name=".FullImageView"
            android:exported="false" />
        <activity
            android:name=".Website"
            android:exported="false" />
        <activity
            android:name=".Ebook"
            android:exported="false" />
        <activity
            android:name=".Results"
            android:exported="false" />
        <activity
            android:name=".ELibrary"
            android:exported="false"
            android:label="@string/title_activity_elibrary"
            android:logo="@drawable/zajil_logo"
            android:theme="@style/Theme.ZajilUserApp.NoActionBar" />
        <activity
            android:name=".Developer"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/SplashScreen"></activity>
        <activity
            android:name=".ui.about.AboutFragment"
            android:exported="false" />
        <activity
            android:name=".ui.news.NewsFragment"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>